<h1>User Signup</h1>

<div class="form-container" data-controller="form-validation" data-form-validation-target="output" data-form-validation-url-value="<%= form_validations_users_path %>">
  <%= render 'form', user: @user %>
</div>
