<% if current_user %>
  <h1>Welcome, <%= current_user.email %></h1>
  <%= link_to 'Log out', user_session_path(current_user), data: { turbo_method: :delete } %><br>
<% else %>
  <h1>Welcome Home</h1>
  <%= link_to 'Login', new_user_session_path %><br>
  <%= link_to 'Signup', new_user_path%><br>
<% end %>